* {
  font-family: "Poppins", sans-serif;
}

.bg-CMA {
  background-color: #181823;
}

.tile {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featureImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.support {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.page-hero {
  position: relative;
  overflow: hidden;
}

.background-video-content {
  position: relative;
  z-index: 1;

  color: white;
}

@media screen and (min-width:1900px) {
  .background-video{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}